In [1]:
import pandas as pd 
import numpy as np

In [13]:
book = pd.read_csv("book_Recommendation..csv",encoding="ISO-8859-1")
book.head(5)

,Unnamed: 0,UserID,BookTitle,BookRating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

# UBCF

In [26]:
book.reset_index

<bound method DataFrame.reset_index of       Unnamed: 0  UserID                                          BookTitle  \
0              1  276726                                Classical Mythology
1              2  276729                                       Clara Callan
2              3  276729                               Decision in Normandy
3              4  276736  Flu: The Story of the Great Influenza Pandemic...
4              5  276737                             The Mummies of Urumchi
...          ...     ...                                                ...
9995        9996  162121       American Fried: Adventures of a Happy Eater.
9996        9997  162121                              Cannibal In Manhattan
9997        9998  162121                    How to Flirt: A Practical Guide
9998        9999  162121                                           Twilight
9999       10000  162129                       Kids Say the Darndest Things

      BookRating
0              5
1              3
2              6
3              8
4              6
...          ...
9995           7
9996           9
9997           7
9998           8
9999           6

[10000 rows x 4 columns]>

In [27]:
len(book.UserID.unique())

2182

In [28]:
len(book.BookTitle.unique())

9659

In [32]:
user_books = book.pivot_table(index='UserID',
                                 columns='BookTitle',
                                 values='BookRating').reset_index(drop=True)

In [33]:
user_books

BookTitle,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
user_books.index = book.UserID.unique() 
user_books.index

Int64Index([276726, 276729, 276736, 276737, 276744, 276745, 276747, 276748,
            276751, 276754,
            ...
            162085, 162091, 162092, 162095, 162103, 162107, 162109, 162113,
            162121, 162129],
           dtype='int64', length=2182)

In [37]:
user_books.fillna(0, inplace=True)
user_books

BookTitle,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [41]:
user_sim = 1 - pairwise_distances( user_books.values,metric='cosine')
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [42]:
user_sim_df = pd.DataFrame(user_sim)

In [44]:
user_sim_df.index = book.UserID.unique()
user_sim_df.columns = book.UserID.unique()

In [45]:
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     1.0     0.0     0.0     0.0     0.0
276729     0.0     1.0     0.0     0.0     0.0
276736     0.0     0.0     1.0     0.0     0.0
276737     0.0     0.0     0.0     1.0     0.0
276744     0.0     0.0     0.0     0.0     1.0

In [46]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

In [78]:
user_sim_df.idxmax(axis=1)[0:10]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
276745    276726
276747    276726
276748    161677
276751    276726
276754    276726
dtype: int64

In [126]:
book[(book['UserID']==276744) | (book['UserID']==276726)]

   Unnamed: 0  UserID               BookTitle  BookRating
0           1  276726     Classical Mythology           5
5           6  276744  The Kitchen God's Wife           7

In [127]:
user_1=book[book['UserID']==276744]

In [128]:
user_2=book[book['UserID']==276726]

In [129]:
user_2.BookTitle

0    Classical Mythology
Name: BookTitle, dtype: object

In [130]:
user_1.BookTitle

5    The Kitchen God's Wife
Name: BookTitle, dtype: object

In [132]:
pd.merge(user_1,user_2,on='BookTitle',how='outer')

,Unnamed: 0_x,UserID_x,BookTitle,BookRating_x,Unnamed: 0_y,UserID_y,BookRating_y
0,6.0,276744.0,The Kitchen God's Wife,7.0,NaN,NaN,NaN
1,NaN,NaN,Classical Mythology,NaN,1.0,276726.0,5.0

# IBCF

In [133]:
un_user_rating = user_books["The Kitchen God's Wife"]  
un_user_rating

276726    0.0
276729    0.0
276736    0.0
276737    0.0
276744    0.0
         ...
162107    0.0
162109    0.0
162113    0.0
162121    0.0
162129    0.0
Name: The Kitchen God's Wife, Length: 2182, dtype: float64

In [134]:
similar_to_un = user_books.corrwith(un_user_rating) 
similar_to_un

BookTitle
 Jason, Madison &amp                                                      -0.000649
 Other Stories;Merril;1985;McClelland &amp                                -0.000649
 Repairing PC Drives &amp                                                 -0.000649
'48                                                                       -0.000649
'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities     -0.000649
                                                                             ...
\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character   -0.000649
\Well, there's your problem\: Cartoons                                    -0.000649
iI Paradiso Degli Orchi                                                   -0.000649
stardust                                                                  -0.000649
Ã?Â?bermorgen.                                                            -0.000649
Length: 9659, dtype: float64

In [135]:
corr_Toy = pd.DataFrame(similar_to_un, columns=['Correlation'])
corr_Toy.dropna(inplace=True)
corr_Toy.head()

                                                    Correlation
BookTitle
 Jason, Madison &amp                                  -0.000649
 Other Stories;Merril;1985;McClelland &amp            -0.000649
 Repairing PC Drives &amp                             -0.000649
'48                                                   -0.000649
'O Au No Keia: Voices from Hawai'I's Mahu and T...    -0.000649

In [136]:
corr_Toy[corr_Toy['Correlation'] > 0].sort_values(by='Correlation', ascending=False).head(5)

                                                    Correlation
BookTitle
The Kitchen God's Wife                                 1.000000
Adventures of Huckleberry Finn (Signet Classics...     0.706945
Chicken Soup for the Mother's Soul (Chicken Sou...     0.706945
Sacred Journey of the Peaceful Warrior                 0.706945
The Adventures of Augie March                          0.706945